@page "{id}"
@model OnlineDictionary.Pages.Languages.LanguageModel
@{
}

<h1> @Model.lang.Name.ToUpper() </h1>

<h3> Info </h3>
<p>@Model.lang.Info</p>
@if (Model.isLogged)
{
    <a href="/Languages/update/@Model.lang.Id">Redact</a>
    @if (Model.lang.DictLanguage1s.Count == 0 && Model.lang.DictLanguage2s.Count == 0)
    {
        <br />
        <b> or </b>

        <form method="post">
            <input type="submit" value="delete" />
        </form>
    }
}

<h3> Connected dicts </h3>
<table class="table">

    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Info</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var dict in Model.lang.DictLanguage1s)
        {
            <tr>
                <td>
                    <a class="nav-link text-blue" href="/Language/@dict.Id">@dict.Name</a>
                </td>
                <td>
                    @Model.lang.Name-@dict.Language2.Name
                </td>
                <td>
                    @dict.Info
                </td>
            </tr>
        }
        @foreach (var dict in Model.lang.DictLanguage2s)
        {
            <tr>
                <td>
                    <a class="nav-link text-blue" href="/Dicts/@dict.Id">@dict.Name</a>
                </td>
                <td>
                    @dict.Language1.Name-@Model.lang.Name
                </td>
                <td>
                    @dict.Info
                </td>
            </tr>
        }
    </tbody>

</table>
@foreach (var word in Model.words) 
{
    <a href="../../Words/Word/@word.Id">@word.Value</a>
    <b>&nbsp;</b>
}
@if (Model.isLogged)
{
    <a href="../../Words/Manage/">Manage words</a>
}